body{
  margin: 0;
  padding: 0;
}
#logo{
  width: 100px;
}
#offcanvasDarkNavbar{
  background-color: #101213;
  color: white;
}
#profile{
  width: 33px;
  height: 33px;
}
.currency{
  color: #FFE217;
}
.header-menu{
  background-color: #22252A;
}
.header-menu a:hover{
  color: red !important;
}
#icon{
  width: 22px;
  height: 22px;
}
.carousel-item h5,p{
  color: white;
}